{% extends "base.html" %}
{% load static %}

{% block title %}Cart{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <!-- ========== Start Cart ========== --> 
            <div class="col-8 px-1">
                <div class="bg-light rounded-4 p-3">
                    <!-- ========== Start Cart Description ========== -->
                    <h1 class="mb-0">Cart</h1>
                    <span class="text-body-tertiary">{{cart|length}} items</span>
                    <!-- ========== End Cart Description ========== -->
                    
                    <hr>

                    <!-- ========== Start Items ========== -->
                    <div>
                        {% for item in cart %}
                            {% with product=item.product %}
                            <!-- ========== Start Item ========== -->
                            <div class="d-flex mb-3">
                                <img src="{{product.image.url}}" class="rounded me-3 col-2" style="width: 100px; height: 125px;">
                                <!-- ========== Start Description ========== -->
                                <div class="col-6 position-relative">
                                    <p>{{product.title}}</p>
                                    <button class="position-absolute bottom-0 p-0 border border-0">
                                        <i class="bi bi-trash-fill fs-4"></i>
                                    </button>
                                </div>
                                <!-- ========== End Description ========== -->
                                <!-- ========== Start Count ========== -->
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="button" class="btn bg-body-secondary p-1"><i class="bi bi-dash text-black"></i></button>
                                        <span class="mx-2 fs-4">{{item.quantity}}</span>
                                        <button type="button" class="btn bg-body-secondary p-1"><i class="bi bi-plus text-black"></i></button>
                                    </div>
                                </div>
                                <!-- ========== End Count ========== -->
                                <!-- ========== Start Price ========== -->
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    <span class="fs-3 "><i class="bi bi-wallet2 me-1 my-auto text-black fs-5"></i>{{item.total_price}} &#8381</span>
                                </div>
                            <!-- ========== End Price ========== -->
                            </div>
                            <!-- ========== End Item ========== -->
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <!-- ========== End Items ========== -->
                </div>
            </div>
            <!-- ========== End Cart ========== -->
            
            
            <!-- ========== Start Order ========== -->
            <div class="col-4 px-1">
                <div class="bg-light p-3 rounded-4"> 
                    <h4>Select delivery address</h4>
                    <div class="px-4 text-body-secondary d-flex justify-content-between align-items-center">
                        <span class="fs-5"> Number of items: {{cart|length}}</span>
                        <span class="fs-5 float-end"> 1500</span>
                    </div>
                    <div class="px-4 text-body-secondary my-2 d-flex justify-content-between align-items-center">
                        <span class="fs-5">My discount</span>
                        <span class="fs-5">-0 &#8381</span>
                    </div>
                    
                    <hr>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="fs-1"><strong>Total: {{cart|length}}</strong></span>
                        <span class="fs-5">0 &#8381</span>
                    </div>
                    
                    <button class="btn btn-primary w-100 fs-3 cursor-not-allowed"><strong>Order</strong></button>
                </div>
            </div>
            <!-- ========== End Order ========== -->
        </div>
    </div>
</section>
{% endblock content %}


