.ktn-text-truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.ktn-rounded-navbar {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.ktn-bottom {
    position: absolute;
    bottom: 0;
}

.w-80 {
    width: 80%;
}

.ktn-bg-danger-subtle-90 {
    background: rgb(251, 233, 235);
}

.ktn-link-body-primary:hover::after {
    color: rgb(0, 150, 255) !important;
}